<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Requireris</title>
  </head>
  <body>
    <h1>Requireris</h1>

    <p>
      <ul>
        {% for key in keys %}
          <li><a href="/get/{{ key }}">{{ key }}</a></li>
        {% endfor %}
      </ul>
    </p>

    <hr/>

    <p>
      Add a new key / secret
      <br/>
      <form action="/new" method="post">
        <label>Key: <input type="text" name="key" /></label><br/>
        <label>Secret: <input type="password" name="secret" /></label><br/>
        {% for name in additional_fields %}
          {% if name != 'key' and name != 'secret' %}
            <label>{{ name }}: <input type="text" name="{{ name }}" /></label>
            <input type="submit" form="remove-field-{{ name }}" value="X" />
            <br/>
          {% endif %}
        {% endfor %}
        <input type="submit" value="Add" />
      </form>
      {% for name in additional_fields %}
        <form id="remove-field-{{ name }}" method="get">
          {% for n in additional_fields %}
            {% if n != name %}
              <input type="hidden" name="add-field" value="{{ n }}" />
            {% endif %}
          {% endfor %}
        </form>
      {% endfor %}
      <form method="get">
        {% for name in additional_fields %}
          <input type="hidden" name="add-field" value="{{ name }}" />
        {% endfor %}
        <input type="text" name="add-field" />
        <input type="submit" value="Add field to form" />
      </form>
  </body>
</html>
